body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}


input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label {
  display: none;
  cursor: pointer;
  user-select: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* header */
.head {
  background-image: linear-gradient(to right, rgba(9, 5, 47, .85) 0%, rgba(49, 29, 94, .85) 100%);
  background-repeat: no-repeat;

  width: 100%;
  min-height: 100vh;

  background-size: cover;
}

/* Navigation bat */

.header_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 30px;
}

.logo__name {
  font-size: 28px;
  color: white;

  align-items: center;
  display: flex;

}


.personaje_cont {
  display: inline-block;

}

.title {
  margin: 0 5px;
}

.nav {
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
  color: #fff;
  text-decoration: none;

  transition: color .3s linear;
}



.nav__link:hover {
  color: #00e0d0;
}

/* Text in intro and other */

.intro_title {
  font-size: 25px;
  color: white;
  font-weight: 700;

  text-align: center;
  padding-top: 170px;
}

.horizontal__line_intro {
  height: 1px;
  background-color: #00e0d0;
  border: none;
  max-width: 50px;
  margin-top: 20px;
}

.intro_text_p {
  padding-top: 20px;
  text-align: center;
}

.intro__text {
  color: white;
  margin: 0 100px;
}


.intro__bottom {
  padding-top: 50px;
  text-align: center;
}

.buttom {
  decoration: none;
  width: 118px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 2%;
  border-color: #00e0d0;
  color: #00e0d0;

  transition: color .2s linear;
  transition: background .2s linear;
}

.buttom:hover {
  background-color: #46a3cc;
  color: white;
  border-color: white;
}

.curent_link {
  color: #00e0d0;

}

.image_right {
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.image_left {
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.text_end {
  padding-top: 150px;
  padding-bottom: 50px;
}

#img_author {

  padding-right: 25px;
  padding-bottom: 25px;
}

#bottom_bibliiografi {
  padding-bottom: 50px;
  margin-top: 50px;
  color: #9b9b9b
}

.per_td {
  color: white;
  text-decoration: none;

}

@media only screen and (max-width : 650px) {
  .logo__name {
    padding-top: 20px;
    margin-left: auto;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .intro__text {
    margin-left: 20px;
    margin-right: 20px;
  }

  .nav {
    margin-top: 20px;
    margin-left: auto;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .header_bar {
    display: contents;
  }

  .nav__link {
    padding: 5px;
  }

  .pov_intro {
    padding: 10px;
  }



}

@media only screen and (max-width : 380px) {

  .image_right,
  .image_left,
  #img_author {
    width: 100%;
  }


}

.dialog_box {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, rgba(9, 5, 47, .85) 0%, rgba(49, 29, 94, .85) 100%);
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;

}

#img_dialog_box {
  opacity: 1;
  z-index: 99;
}




* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slide {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;

}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.more_info { 
  display: none;
}