body{
    margin:0;
  }
  
  .container{
    width: 100%;
    max-width: 950px;
    margin:0 auto;
  }
  
  *,
  *:before,
  *:after{
    box-sizing: border-box;
  }
  
  h1,h2,h3,h4,h5,h6{
    margin: 0;
  }
  
   /* header */
  .head{
    background-image: linear-gradient(to right, rgba(9, 5, 47, .85) 0%, rgba(49, 29, 94, .85) 100%), url("../images/background/bk.jpg");
    background-repeat: no-repeat;
  
    width: 100%;
    min-height: 100vh;
  
    background-size: cover;
  }
  
  /* Navigation bat */
  
  .header_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding-top: 30px;
  }
  
  .logo__name{
    font-size: 28px;
    color: white;
  
    align-items: center;
    display: flex;
  
  }
  
  .title{
    margin: 0 5px;
  }
  
  .nav{
    font-size: 15px;
    color: white;
    font-weight: bold;
  }
  
  .nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
    color: #fff;
    text-decoration: none;
  
    transition: color .3s linear;
  }
  
  .nav__link:hover{
    color: #00e0d0;
  }
  
  /* Text in intro and other */
  
  .intro_title{
    font-size: 25px;
    color: white;
    font-weight: 700;
  
    text-align: center;
    padding-top: 170px;
  }
  
  .horizontal__line_intro{
    height: 1px;
    background-color: #00e0d0;
    border: none;
    max-width: 50px;
    margin-top: 20px;
  }
  
  .intro_text_p{
    padding-top: 20px;
    text-align: center;
  }
  
  .intro__text{
    color: white;
    margin: 0 100px;
  }
  
  
  .intro__bottom{
    padding-top: 50px;
    text-align: center;
  }
  
  .buttom{
    decoration:none;
    width: 118px;
    height: 38px;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 2%;
    border-color: #00e0d0;
    color: #00e0d0;
  
    transition: color .2s linear;
    transition: background .2s linear;
  }
  
  .buttom:hover{
    background-color: #46a3cc;
    color: white;
    border-color: white;
  }
   
  .image_right{
    padding-right: 25px;
    padding-top:25px;
    padding-bottom: 25px;
}

.image_left{
    padding-left: 25px;
    padding-top:25px;
    padding-bottom: 25px;
}

.text_end {
    padding-top: 150px;
    padding-bottom: 50px;
}
